.kiro/
.vscode/
data/
plugins;C/
venv/
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/terraform.tfvars
s3-backend-remote/.terraform/
s3-backend-remote/*.tfstate
s3-backend-remote/*.tfstate.*
*.log
.claude/
