.kiro/
.vscode/
data/
venv/
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.*
infrastructure/terraform.tfvars
s3-backend-remote/.terraform/
s3-backend-remote/*.tfstate
s3-backend-remote/*.tfstate.*
*.log
.claude/
esp32-Client/esp32-client/credentials.h
**/*.tfvars
**/*.tfvars.json
__pycache__/
*.pyc
*.pyo